<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dilorenzoapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_perfil"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activitys.PerfilActivity"></activity>
        <activity android:name=".Activitys.GenerarOperacion" />
        <activity android:name=".Activitys.PedidosActivity" />
        <activity android:name=".Activitys.Menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>